@model GammaltGlimmer.Models.Item
@inject SignInManager<AppUser> signInmanager;

@{
    ViewData["Title"] = "Create";
}
@{
    var selectList = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Text = "Transport", Value = "1"},
            new SelectListItem {Text = "Hushåll", Value = "2"},
            new SelectListItem {Text = "Dekoration", Value = "3"},
        }, "Value", "Text");
}
<h1>Skapa nytt</h1>

<h4>Försäljningsobjektxxx</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPrice" class="control-label"></label>
                <input asp-for="StartPrice" class="form-control" />
                <span asp-validation-for="StartPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseCost" class="control-label"></label>
                <input asp-for="PurchaseCost" class="form-control" />
                <span asp-validation-for="PurchaseCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.CategoryId, selectList, "Kategori", new { @class = "css-class" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (signInmanager.IsSignedIn(User) && User.IsInRole("Auctioneer"))
{
    <a asp-action="List">Tillbaka till listan</a>
}
else
{
    <a asp-action="ListPurchaser">Tillbaka till listan</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}