@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Gammalt Glimmer!</h1>
    <p>Som inköpare så klickar du på "Registrering inköpare" och registrerar dig och kan därefter logga in</p>
    <p>Som inköpare så kan du lägga in nya försäljningsobjekt i inventarier och editera objeket som du skapat.</p><br />
    <p>Som Auktionsansvarig så kan du logga in direkt med Admin och lösenordet Sommar123!  (hårdkodade uppgifter)</p>
    <p>Som Auktionsansvarig så kan du se samtliga inventarier samt lägga till slutpris och status för objekten.</p>
</div>
