@model GammaltGlimmer.Models.AppUser

<h1>User Information</h1>

<table>
    <tr>
        <td>Name:- </td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>Email:- </td>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td>Username:- </td>
        <td>@Html.DisplayFor(model => model.UserName)</td>
    </tr>
</table>